{% extends 'base.html' %}
{% load static %}

{% block head %}
    <link rel="stylesheet" href="{% static 'css/base.css' %}">
    <link rel="stylesheet" href="{% static 'css/form.css' %}">
{% endblock %}

{% block content %}

    <h1>Add a product</h1>
   
    <div class="form-container">
        <form action="" method="POST">
            {% csrf_token %}
            {{ product_form }}
            
            <a href="{% url 'add_parts_to_product' %}"><input class="btn btn-submit btn-hover" type="submit" value="Submit"></a>

        </form>
    </div>
    

{% endblock %}
