{% extends 'base.html' %}
{% load static %}

{% block head %}
    <link rel="stylesheet" href="{% static 'css/form.css' %}">
    <link rel="stylesheet" href="{% static 'css/link.css' %}">
{% endblock %}

{% block content %}


    <h1>Add parts to {{ default_product }}</h1>
    <div class="form-container">
        <form action="" method="POST">
            {% csrf_token %}
            {{ parts_form }}
            <input class="btn btn-submit btn-hover" type="submit" value="Submit">
        </form>
    </div>

    <div id="added-product">
        <p>
            Item: <span id="added-part">{{ added_part }}</span> added to {{ default_product }}.
            <a class="link-to-home" href="{% url 'home' %}">Click here</a> to go home.
        </p>
    </div>
    

    <script src="{% static 'js/link.js' %}"></script>
    

{% endblock %}
