{% extends 'base.html' %}
{% load static %}

{% block head %}
    <link rel="stylesheet" href="{% static 'css/form.css' %}">
    <link rel="stylesheet" href="{% static 'css/link.css' %}">
{% endblock %}

{% block content %}


    <h1>Add parts to {{ default_product }}</h1>

    {% for field in parts_form %}
        {% if field.errors %}
            <p>{{ field.errors }}</p>
        {% endif %}
    {% endfor %}

    <div class="form-container">
        <form action="" method="POST">
            {% csrf_token %}
            {{ parts_form }}
            
            <input class="btn btn-submit btn-hover" type="submit" value="Submit">
            <a href="{% url 'home' %}"><input class="btn btn-cancel btn-hover" type="button" value="Cancel"></a>

        </form>
    </div>

    {% if not parts_form.errors %}
    <div id="added-product">
        <p>
            Item: <span id="added-part">{{ added_part }}</span> added to {{ default_product }}.
            <a class="link-to-home" href="{% url 'products' %}">Click here</a> to go home.
        </p>
    </div>
    {% endif %}
    

    <script src="{% static 'js/link.js' %}"></script>
    <script src="{% static 'js/errors.js' %}"></script>
    

{% endblock %}
