{% extends 'base.html' %}
{% load static %}

{% block head %}
    <link rel="stylesheet" href="{% static 'css/base.css' %}">
    <link rel="stylesheet" href="{% static 'css/style.css' %}">
    <link rel="stylesheet" href="{% static 'css/form.css' %}">
{% endblock %}

{% block content %}

    <h1>Remove {{ parts.item }} from {{ parts.product_part_belongs_to }}</h1>
    <h2 class="center">This action cannot be undone.</h2>

    <form action="" method="POST">
        {% csrf_token %}
        {{ form.as_p }}

        <div class="delete-button">
            <input class="btn btn-delete btn-hover" type="submit" value="Remove">
        </div>
    </form>

{% endblock %}