{% extends 'base.html' %}
{% load static %}

{% block head %}
    <link rel="stylesheet" href="{% static 'css/base.css' %}">
    <link rel="stylesheet" href="{% static 'css/style.css' %}">
    <link rel="stylesheet" href="{% static 'css/form.css' %}">
{% endblock %}

{% block content %}

    <h1>Delete {{ product.name }}</h1>

    <form action="" method="POST">
        {% csrf_token %}
        {{ form.as_p }}

        <div class="delete-button">
            <input class="btn btn-delete btn-hover" type="submit" value="Delete">
        </div>
    </form>

{% endblock %}
    