<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Stock take</title>
</head>
<body>
    <h1>Stock Take</h1>
   
    <form action="" method="POST">
        {% csrf_token %}
        <label for="product_name">Product Name: </label>
        {{ product_form.name }}

        <label for="parts_needed">Parts needed: </label>
        {{ parts_form.item }}

        <label for="Number of each part required">Number required: </label>
        {{ parts_form.number_required }}
        <input type="submit" value="Submit">
    </form>
</body>
</html>