<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Stock take</title>
</head>
<body>
    {% for name in product %}
    <h1>{{ name }} parts</h1>
    {% endfor %}

    <table>
        <tr>
            <th>Part name</th>
            <th>Part code</th>
            <th>Number required</th>
            <th>Number in stock</th>
        </tr>
        {% for part in product_parts %}
        <tr>
            <td>{{ part.item.name }}</td>
            <td>{{ part.item.code }}</td>
            <td>{{ part.number_required }}</td>
            <td>{{ part.item.number_in_stock }}</td>
        {% endfor %}
        </tr>
    </table>
</body>
</html>