{% extends 'base.html' %}
{% load static %}

{% block head %}
    <link rel="stylesheet" href="{% static 'css/style.css' %}">
    <link rel="stylesheet" href="{% static 'css/grid.css' %}">
{% endblock %}

{% block content %}

    <h1>Stock</h1>

    <div class="add-new btn btn-submit btn-hover">
        <a href="{% url 'add_new_stock_part' %}">Add new stock item</a>
    </div>

    <div class="grid">
        <div class="grid-headings grid-4">
            <h3>Part name</h3>
            <h3>Part code</h3>
            <h3>Number in stock</h3>
        </div>
        
        {% for item in stock %}
        <div class="grid-row grid-4">
            <div class="item-name-content">
                <h3>{{ item.name }}</h3>
            </div>
            <div class="item-code-content">
                <h3>{{ item.code }}</h3>
            </div>
            <div class="item-number-content">
                <h3>{{ item.number_in_stock }}</h3>
            </div>
            <div class="update">
                <h3><a href="{% url 'update-stock' item.pk %}">Update</a></h3>
            </div>
        </div>
        {% endfor %}
    </div>

{% endblock %}