<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Stock</title>
</head>
<body>
    <h2>Stock</h2>
    <ul>
    {% for item in stock %}
        <li>
            {{ item.name }} | {{ item.code }} | {{ item.number_in_stock }}
            <a href="{% url 'update-stock' item.pk %}">Update stock</a>
        </li>
    {% endfor %}
    </ul>
</body>
</html>