{% extends 'base.html' %}
{% load static %}

{% block head %}
    <link rel="stylesheet" href="{% static 'css/style.css' %}">
    <link rel="stylesheet" href="{% static 'css/form.css' %}">
{% endblock %}

{% block content %}

{% if stock.company.id == user.id %}
    <h1>Stock Adjust</h1>

    {% for field in form %}
        {% if field.errors %}
            <p>{{ field.errors }}</p>
        {% endif %}
    {% endfor %}

    <div class="form-container">
        <form action="" method="POST">
            {% csrf_token %}
            {{ form.as_p }}
            <input class="btn btn-submit btn-hover" type="submit" value="Submit">
            <a href="{% url 'delete-stock' stock.id %}"><input class="btn btn-delete btn-hover" type="button" value="Delete"></a>
            <a href="{% url 'stock' %}"><input class="btn btn-cancel btn-hover" type="button" value="Cancel"></a>
        </form>
    </div>

{% else %}

    <h1>You are not authorised to enter this page!</h1>
    <h2 class="center"><a href="{% url 'home' %}">Click here </a>to go home.</h2>

{% endif %}
    <script src="{% static 'js/errors.js' %}"></script>

{% endblock %}