{% extends 'base.html' %}
{% load static %}

{% block head %}
    <link rel="stylesheet" href="{% static 'css/style.css' %}">
    <link rel="stylesheet" href="{% static 'css/form.css' %}">
{% endblock %}

{% block content %}

    <h1>Stock Adjust</h1>

    {% for field in form %}
        {% if field.errors %}
            <p>{{ field.errors }}</p>
        {% endif %}
    {% endfor %}

    <div class="form-container">
        <form action="" method="POST">
            {% csrf_token %}
            {{ form.as_p }}
            <input class="btn btn-submit btn-hover" type="submit" value="Submit">
        </form>
        <button class="btn btn-delete btn-hover"><a href="{% url 'delete-stock' stock.id %}">Delete</a></button>
    </div>

    <script src="{% static 'js/errors.js' %}"></script>

{% endblock %}