{% extends 'base.html' %}
{% load static %}

{% block head %}
    <link rel="stylesheet" href="{% static 'css/form.css' %}">
{% endblock %}

{% block content %}

    <h1 class="center">Add a product</h1>
   
    {% for field in product_form %}
        {% if field.errors %}
            <p>{{ field.errors }}</p>
        {% endif %}
    {% endfor %}

    <div class="form-container">
        <form method="POST">
            {% csrf_token %}
            {{ product_form }}
            
            <input class="btn btn-submit btn-hover" type="submit" value="Submit">
            <div class="cancel center btn btn-cancel btn-hover">
                <a href="{% url 'products' %}">Cancel</a>
            </div>

        </form>
    </div>
    
    <script src="{% static 'js/errors.js' %}"></script>

{% endblock %}
