{% extends 'base.html' %}
{% load static %}

{% block head %}
    <link rel="stylesheet" href="{% static 'css/form.css' %}">
{% endblock %}

{% block content %}

{% if stock.company.id == user.id or user.is_staff %}

    <h1 class="center">Delete {{ stock.name }} | {{ stock.code }}?</h1>
    <h2 class="center">This action cannot be undone.</h2>

    <form method="POST">
        {% csrf_token %}
        {{ form.as_p }}
        
        <input class="btn btn-delete btn-hover" type="submit" value="Delete">
        <div class="cancel center btn btn-cancel btn-hover">
            <a href="{% url 'stock' %}">Cancel</a>
        </div>

    </form>

{% else %}

    <h1>You are not authorised to enter this page!</h1>
    <h2 class="center"><a href="{% url 'home' %}">Click here </a>to go home.</h2>

{% endif %}

{% endblock %}