{% extends 'base.html' %}
{% load static %}

{% block head %}
    <link rel="stylesheet" href="{% static 'css/form.css' %}">
{% endblock %}

{% block content %}

{% if stock.company.id == user.id or user.is_staff %}
    <h1 class="center">Stock Adjust</h1>

    {% for field in form %}
        {% if field.errors %}
            <p>{{ field.errors }}</p>
        {% endif %}
    {% endfor %}

    <div class="form-container">
        <form method="POST">
            {% csrf_token %}
            {{ form.as_p }}
            <input class="btn btn-submit btn-hover" type="submit" value="Submit">
            <div class="form-anchors">
                <a class="btn btn-delete btn-hover" href="{% url 'delete-stock' stock.id %}">Delete</a>
                <div class="center cancel btn btn-cancel btn-hover">
                    <a href="{% url 'stock' %}">Cancel</a>
                </div>
            </div>
            
        </form>
    </div>

{% else %}

    <h1>You are not authorised to enter this page!</h1>
    <h2 class="center"><a href="{% url 'home' %}">Click here </a>to go home.</h2>

{% endif %}
    <script src="{% static 'js/errors.js' %}"></script>

{% endblock %}