.container {
    display: flex;
    flex-wrap: wrap;
    gap: 1em;
    justify-content: space-around;
    align-items: unset;
    height: calc(100vh - var(--header-height));
}

.side-info {
    display: flex;
    flex-direction: column;
    align-items: center;
    max-width: 45%;
    min-width: 50ch;
    justify-content: center;
}

.side-info p {
    margin: 1em;
}

.images {
    height: 30vh;
    aspect-ratio: 3 / 2;
    background-color: rgb(188, 188, 188);
}

.background {
    background-image: linear-gradient(
        360deg,
        #FFFFFF 60%,
        #73ad8b
    );
    background: #73ad8b;
    box-shadow: var(--shadow-s);
}

.background p {
    color: #FFFFFF;
    text-shadow: var(--shadow-tl);
}

.tagline h2, .tagline h3 {
    padding: 1em;
}